# Update often the projects requirements. Please run the following command with .venv activated
# $ source .venv/bin/activate
# $ pip3 freeze > requirements/requirements.txt
# or alternatively
# make update-requirements
--extra-index-url https://download.pytorch.org/whl/cu121
boto3
loguru
numpy
psycopg2-binary
python-dotenv
s3fs
torch
torchvision
tqdm
wandb
matplotlib
wandb
scikit-learn
opencv-python